@use "norm";

// colors
:root {
  --txt-c: #000000;
  --txt-c-s: #757575;
  --bgc: #e5f6ff;
  --red-c: #f52222;
  --status-b-c: #00839f;
  --status-g-c: #008a27;
  --btn-light-g-c: #e5ffeb;
  --btn-light-y-c: #fbffe5;
  --btn-g-c: #00df74;
  --btn-r-c: #df0000;
}

// font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

// Globals
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h2,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:active, &:visited {
        text-decoration: none;
        color: inherit;
    }
}

input, button {
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;
    
}